@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  
}

.auth {
  margin: 3rem auto;
  width: 90%;
  max-width: 25rem;
  border-radius: 4px;
  background-color: #ffffff;
  color: #213F7D;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, blue, 0.2);
}

.auth h1,h2 {
  text-align: center;
  color: #213F7D;;
}

.form-control {
    margin-bottom: 0.5rem;
  }
  
.form-control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
.form-control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }

.actions {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color:  #39CDCC;
  border: 1px solid #39CDCC;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #39CDCC;
  border-color: #39CDCC;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color:  #39CDCC;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #39CDCC;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #292929;
  cursor: not-allowed;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text{
  color: red;
}

